<p>product works!</p>

<form [formGroup]='form' (ngSubmit)="SaveData()" >
   <label>ID:</label> <input formControlName='ID'/><br/>
   <div *ngIf="ID.invalid && (ID.dirty || ID.touched)">
   
    <div *ngIf="ID.errors.required">
        this field is required
       </div>
    <div *ngIf="ID.errors.productIDExists">
        Invalid ProductID
    </div>
   </div>
  
   <label>Name:</label> <input formControlName='Name'/><br/>
   <div *ngIf="Name.invalid && (ID.dirty || ID.touched)">
    
   <div *ngIf="Name.errors.required && (Name.dirty || Name.touched)">
    this field is required
   </div>

   <div *ngIf="Name.errors.email && (Name.dirty || Name.touched)">
    invalid email 
   </div>
</div>
   
    <button type='submit' [disabled]="!form.valid">Send</button>
    
</form>
